<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to artist_cms</h1>
    <p>
      You have successfully signed up to artist_cms,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To activate to the site, just follow this link: <a href="<%= @url %>">Register</a>
    </p>
    <p>Thanks for joining dont make a fool of yourself</p>
  </body>
</html>