<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>important news</h1>
    <p>
       <%= @label.label_name %> is no more at our service you have to make sure your albums are up to date with the changes
        sorry for the inconvenience

        you need to log in and republish those albums affected by this change
    </p>

  </body>
</html>