<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbyeeeee</h1>
    <p>
      So you have decided to leave all your songs and albums will be deleted

    </p>
    <p>
      to delete your account and music, just follow this link: <a href="<%= @url %>">Time to leave</a>
    </p>
    <p> you were quite a bore to listen to anyways</p>
  </body>
</html>