<% @page_title = "Delete music company account" %>

<%= form_for(:music_company, :url => music_company_path(@company) , :html => {:method => :delete})  do |f| %>

<p>you are about to delete your account:<%= @company.email%></p>

<%= submit_tag("delete music Company account") %>
<% end %>	