
<% @page_title = "Settings" %>

	<table>
	<th>Action</th>
	

	<tr>
		<td><%= link_to("edit my account" , edit_music_company_path(@company))%></td>
	</tr>
	<tr>
	<td><%= link_to("delete my account" , delete_music_company_path(@company))%></td>
	</tr>
	
		
		
	


</table>