<% @page_title = "My music company page" %>
	<table>
	<th>Action</th>
	

	<tr>
	<td><%= link_to("show all my music labels" , music_company_labels_path(@company))%></td>
	</tr>
	<tr>
		<td><%= link_to("edit my account" , edit_music_company_path(@company))%></td>
	</tr>
	<tr>
	<td><%= link_to("delete my account" , delete_music_company_path(@company))%></td>
	</tr>
	
		
		
	


</table>