html, body{
  height:100%;
}
.collapse{
	display: block;
}

.overflow-hide{
	overflow:scroll;
}

.navbar-inverse{
	margin-bottom: 0px;
}
.navbar-header{
	width:70%;
}

.box{
	height:10px;
	width:10px;
	border: 1px solid black;
	color:white;
}
.box.true{
	background-color: green;
}
.box.false{
	background-color: red;
}
.box.pending{
	background-color: yellow;
}

@media only screen and (max-width: 992px) {
.hundred{
	height: 50%;
}


}

@media only screen and (max-width: 768px) {
.navbar-header{
		width:100%;
}
#web-player{
	min-width:50%;
	max-width:550px;
}
#sidebar{
	max-height: 200px;
}
.row-hundred{
	min-height: 50%;
}
.hundred{

padding: 0px
}
.relative{

}
.right{
float:none;
}

#sidebar{
	position: relative;
	height:100%;
	min-width:200px;
    width: 100%;
}

#songdata{
	height: 100px;

}
#songinfo{
	float :right;
}
#albumart {
	min-height: 0px;
	width:10%;
	height: 10%;
	float: left;
}
#albumart img{
	width:100px;
	height: 100px;
}

.collapse{
	display: none;
}



}

@media only screen and (min-width: 767px) {
.navbar-header{
		width:auto;
}
.collapse{
	display:block;
}

}

