<% if object && object.errors.size > 0 %>

	<div id="errorexplonation">
		<h2><%= pluralize(object.errors.size , "error")%></h2>

		<p>These errors prohibited this record from being saved </p>

		<ul>
		
			<% object.errors.full_messages.each do |m| %>
			
				<li><%= m %></li>
		
				<% end %>

		</ul>

	</div>

<% end %>	