<% @page_title = "Delete group" %>
<%= link_to("back to index" , artist_music_groups_path(@artist))%>
<%= form_for(:music_group, :url => artist_music_group_path(@artist,@group) , :html => {:method => :delete})  do |f| %>

<p>you are about to delete your account:<%= @group.name%></p>

<%= submit_tag("delete music group") %>
<% end %>	